# Bytecode files
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Testing
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Pycharm
.idea/
*.swp

# macOS clutter files
.DS_Store

# Windows clutter files
Thumbs.db

# Excel files used for input/output but should not be version-controlled
*.xlsx
*.xls

# Environment files
.env
.venv
env/
venv/
ENV/

# Visual Studio Code
.vscode/

# Log files
*.log

# Other file types and folders to ignore
node_modules/
jspm_packages/
data/report.txt

# Local secret files
.secrets/
/RequestPaths.csv
